<connectionStrings>
  <add name="WeatherDBModelContainer" connectionString="metadata=res://*/WeatherDBModel.csdl|res://*/WeatherDBModel.ssdl|res://*/WeatherDBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-IM15VP1;initial catalog=WeatherInfo;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>